{% if role == 'ROLE_USER' %}
    <span class="badge badge-pill bg-primary">User</span>
{% elseif role == 'ROLE_MODERATOR' %}
    <span class="badge badge-pill bg-success">Moderator</span>
{% elseif role == 'ROLE_ADMIN' %}
    <span class="badge badge-pill bg-danger">Admin</span>
{% endif %}