{% if status == 'active' %}
    <span class="badge badge-pill badge-success">Active</span>
{% elseif status == 'suspended' %}
    <span class="badge badge-pill badge-secondary">Suspend</span>
{% elseif status == 'archived' %}
    <span class="badge badge-pill badge-dark">Archived</span>
{% endif %}