<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">#}
        {% block stylesheets %}
        {% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body>
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    {{ knp_menu_render('navbar', {'currentClass': 'active', 'ancestorClass': 'show'}) }}
                </div>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>
                {% endif %}
            </nav>
        </div>
        <div class="flex-grow-1 px-5">
            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1 px-5">
{#        <main role="main" class="container">#}
            {% include '_flashes.html.twig' %}
            {% block body %}{% endblock %}
{#        </main>#}
    </div>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
