<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    {{ knp_menu_render('navbar', {'currentClass': 'active', 'ancestorClass': 'show'}) }}

                    {#                <ul class="navbar-nav mr-auto">#}
                    {#                    <li class="nav-item active">#}
                    {#                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="#">Link</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link disabled" href="#">Disabled</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
                    {#                        <div class="dropdown-menu" aria-labelledby="dropdown01">#}
                    {#                            <a class="dropdown-item" href="#">Action</a>#}
                    {#                            <a class="dropdown-item" href="#">Another action</a>#}
                    {#                            <a class="dropdown-item" href="#">Something else here</a>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                </ul>#}
                    {#                <form class="form-inline my-2 my-lg-0">#}
                    {#                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
                    {#                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                    {#                </form>#}
                </div>
            </nav>
        </div>
        <div class="flex-grow-1 px-5">
            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1 px-5">
{#        <main role="main" class="container">#}
            {% include '_flashes.html.twig' %}
            {% block body %}{% endblock %}
{#        </main>#}
    </div>
        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
